.signup-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h2 {
    align-self: center;
    text-transform: uppercase;
  }
}
.signup-page input {
  margin-bottom: 10px;
  padding: 8px;
  width: 250px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.success-message {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #006403;
  color: white;
  padding: 6px 5px;
  border-radius: 4px;
  text-align: center;
  animation: fadeInOut 2s forwards;
  font-size: x-small;
  border: none;
}

/* @keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
} */

.toggle-auth-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
  padding-left: 0;
}
.toggle-auth-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
